.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.6s ease-in;
}

.footer__column-link:hover {
  color: #c71585;
  opacity: 0.5;
}
